
.ItemsGrid{
    margin-right: 100px !important;
    margin-left: 100px !important ;   
}
.Card_Space{
    margin-top: 180px !important;
}
.Form_Space{
    margin-top: 180px !important;

}
.form-group{
    margin-bottom: 10px;
}
.btn{
    margin-top: 10px;
}