.flex-container {
  justify-content:center;
  display: flex;
  flex-wrap:wrap;
}
/* 
.container {
   
   
}
.control{
  border: black 1px solid;
}*/

.pokecar {
  display: flex;
  align-items: stretch;
  width:10rem;
  padding: 10px;
  margin:10px;
  border-radius:10px;
  
    
}
.card:hover {
    box-shadow: 5px 5px 5px 5px #999;
}
.card-img-top{
 
   width:10rem;  
   height: 10rem;
border-top-left-radius: 10px;
  border-top-right-radius:10px
}